.header-general-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    min-width: 150px;
    width: 50%;
    height: var(--header-height);
    padding: 15px 10px;
}

.header-general-navbar-item {
    font-size: 20px;
    color: var(--main-color-2);
    text-decoration: none;
    padding: 5px 10px;
    margin: 3px 0;
}

.header-general-navbar-item-disable {
    cursor: pointer;
}

.header-general-navbar-item-disable:hover {
    background-color: white;
    color: black;
    border-radius: 10px;
}

.header-general-navbar-item-active {
    pointer-events: none;
}