@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

:root {
    --main-color-1: #000000;
    --main-color-2: #ffffff;
    --main-color-3: #b13a8e;
    --header-height: 90px;
    --footer-height: 200px;
    --main-font: 'M PLUS Rounded 1c', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

body {
    background-color: var(--main-color-2);
}