:root {
    --main-color-1: #000000;
    --main-color-2: #ffffff;
    --main-color-3: #b13a8e;
    --header-height: 90px;
    --footer-height: 200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}