.header-logo {
    height: var(--header-height);
    padding: 5px 10px;
}

.header-logo-disable {
    cursor: pointer;
}

.header-logo-active {
    pointer-events: none;
}

.header-logo > img {
    height: 100%;
}