#header {
    width: 100%;
    position: fixed;
    user-select: none;
}

.header-container {
    min-height: var(--header-height);
    background-color: var(--main-color-1);
    transition: 0s;
}

.main-header-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 7vw;
}

.header-main-page-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0s;
}

.header-main-page-block > img{
    height: inherit;
    transition: 0s;
}